<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Set up your meeting!</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic"><link rel='stylesheet' href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.css'>

<link rel='stylesheet' href='https://material.angularjs.org/1.1.1/docs.css'><link rel="stylesheet" href="../static/css/prefstyle.css">

</head>
<body style="background-color:#F5F5F5;">
<!-- partial:index.partial.html -->
<div ng-controller="AppCtrl as ctrl" class="md-padding selectdemoBasicUsage" ng-cloak="" layout="column" ng-app="MyApp">

  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">MEET UP!</span>
        <span class="md-subhead">Tell us a little about you and your gathering.</span>
      </md-card-title-text>
    </md-card-title>

    <md-card-content>
      <div layout="row">
        <md-input-container>
          <label>Name Your Gathering</label>
          <input>
        </md-input-container>

        <md-input-container>
          <label>Your Nickname</label>
          <input>
        </md-input-container>

      </br></br>

        <md-input-container>
          <label>Your Location</label>
          <input>
        </md-input-container>

        <md-input-container>
          <label>City</label>
          <input>
        </md-input-container>

        <md-input-container>
          <label>Date</label>
          <md-datepicker ng-model="ctrl.date"/>
        </md-input-container>
        
        <md-input-container>
          <label md-no-placeholder>State</label>
          <md-select ng-model="ctrl.userState">
            <md-option><em>None</em></md-option>
            <md-option ng-repeat="state in ctrl.states" ng-value="state.abbrev" ng-disabled="$index === 1">
              {{state.abbrev}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
    </md-card-content>
  </md-card>

  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Your Fooooood Preferences :3</span>
        <span class="md-subhead">Let me know what would you like.</span>
      </md-card-title-text>
    </md-card-title>

    <md-card-content>
      <div layout="row" layout-align="space-between center">
        <span>Are you vegetarian?</span>
        <md-select ng-model="No" placeholder="No" required="" class="md-no-underline"md-no-asterisk="false">
          <md-option value="Yes">Yes</md-option>
          <md-option value="No">No</md-option>
        </md-select>
      </div>

            <div layout="row" layout-align="space-between center">
        <span>Do you feel like eating any kind of food strongly today?</span>
  <input id="box1" type="checkbox" />
  <label for="box1">Chinese</label>
  <input id="box2" type="checkbox" />
  <label for="box2">Japanese</label>
  <input id="box3" type="checkbox" />
  <label for="box3">American</label>
  <input id="box4" type="checkbox" />
  <label for="box4">Italian</label>
  <input id="box5" type="checkbox" />
  <label for="box5">Mediterranean</label>
  <input id="box6" type="checkbox" />
  <label for="box6">French</label>
  <input id="box7" type="checkbox" />
  <label for="box7">Indian</label>

</div>

      <div layout="row" layout-align="space-between center">
        <span>Rate your tolerence level of spicy food. </span>
        <md-select ng-model="Spicy" placeholder="Spicy" class="md-no-underline">
          <md-option value="0">0</md-option>
          <md-option value="1">1</md-option>
          <md-option value="2">2</md-option>
          <md-option value="3">3</md-option>
        </md-select>
      </div>


      <div layout="row" layout-align="space-between center">
        <span>Do you not feel like eating any kind of food strongly today?</span>
  <input id="box1" type="checkbox" />
  <label for="box1">Chinese</label>
  <input id="box2" type="checkbox" />
  <label for="box2">Japanese</label>
  <input id="box3" type="checkbox" />
  <label for="box3">American</label>
  <input id="box4" type="checkbox" />
  <label for="box4">Italian</label>
  <input id="box5" type="checkbox" />
  <label for="box5">Mediterranean</label>
  <input id="box6" type="checkbox" />
  <label for="box6">French</label>
  <input id="box7" type="checkbox" />
  <label for="box7">Indian</label>

</div>

      <div layout="row" layout-align="space-between center">
        <span>Are you religious?</span>
        <md-select ng-model="None" placeholder="None" class="md-no-underline">
          <md-option value="Halal">Halal</md-option>
          <md-option value="Kosher">Kosher</md-option>
          <md-option value="Buddahism">Buddahism</md-option>
          <md-option value="None">No, I am not</md-option>
        </md-select>
      </div>
    </md-card-content>
  </md-card>

</div>

<div  align = "center">
  <a href = "https://www.google.com">
<button type="submit" class = "btn btn-link btn-lg">Get your sharable Link!</button></a>
</div>
<!--
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Checkbox</span>
        <span class="md-subhead">Choose wisely if you want to win.</span>
      </md-card-title-text>
    </md-card-title>

    <md-card-content>
      <div layout="row" layout-align="space-between center">
        <span>Do you feel like eating any kind of food strongly today?</span>
  <input id="box1" type="checkbox" />
  <label for="box1">Checkbox 1</label>
  <input id="box2" type="checkbox" />
  <label for="box2">Checkbox 2</label>
  <input id="box3" type="checkbox" />
  <label for="box3">Checkbox 3</label>
      </md-card-content>
  </md-card> 

</div>

  <a href="#" class="btn btn-default btn-lg" role="button">More Info</a>
  <button type="submit" class="btn btn-danger" role="button">Button</button>
  <input type="button" value="Info" class="btn btn-info">
  <button type="submit" class = "btn-primary btn-sm">Primary</button>
  <button type="submit" class = "btn btn-success btn-xs">Success</button>
  <button type="submit" class = "btn btn-warning btn-lg">Warning</button>
  <button type="submit" class = "btn btn-link btn-lg">Link</button>  -->

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at https://material.angularjs.org/HEAD/license.
-->
<!-- partial -->
  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js'></script>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js'></script>
<script src='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.js'></script><script  src="../static/js/prefscript.js"></script>

</body>
</html>