<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Preferences Collection Form</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="../static/css/sharablestyle.css">

</head>
<body>
<h1>Submit your preferences for: {{ event.name }}</h1>
<br><br>
<div>
  <h4>Current Preferences:</h4>
  {% for preference in submission.preferences.all %}
  <li>{{ preference.name }}</li>
  {% endfor %}
</div>
<form class="cf" method='post'>
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Submit" id="input-submit">
</form>
</body>
</html>