<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Success</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="../../static/css/successpagestyle.css">
</head>
<body>
<!-- partial:index.partial.html -->
<main>
  <h1>Your Event is Successfully Created! {{event.name}} should go to the following restaurant: </h1>
  
  <h2>Restaurant: {{restaurant.restaurant_name}}</h2>
  <img src={{restaurant.image_url}}>
  <h2>Location: {{restaurant.address}}</h2>
  <h2>Reserve the restaurant by clicking the following <a href={{restaurant.yelp_url}}>LINK</a></h2>



</main>
<!-- partial -->
</body>
</html>