<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Success</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="../../static/css/introstyle.css">
</head>
<body>
<!-- partial:index.partial.html -->
<div id="wrapper">
            
  <div id="wheel">
      <div id="inner-wheel">
          <div class="sec"><span class="fa fa-bell-o"></span></div>
          <div class="sec"><span class="fa fa-comment-o"></span></div>
          <div class="sec"><span class="fa fa-smile-o"></span></div>
          <div class="sec"><span class="fa fa-heart-o"></span></div>
          <div class="sec"><span class="fa fa-star-o"></span></div>
          <div class="sec"><span class="fa fa-lightbulb-o"></span></div>
      </div>       
     
      <div id="spin">
          <div id="inner-spin"></div>
      </div>
      
      <div id="shine"></div>
  </div>
  
  
  <div id="txt"></div>
</div>

<div align = "right">
  <h1>Your Event is Successfully Created! {{event.name}} should go to the following restaurant: </h1>
  
  <h2>Restaurant: {{restaurant.restaurant_name}}</h2>
  <img src={{restaurant.image_url}}>
  <h2>Location: {{restaurant.address}}</h2><br>
  <h2>Reserve the restaurant by clicking the following <a href={{restaurant.yelp_url}}>LINK</a></h2>



</div>
<!-- partial -->
</body>
</html>